.custom-yellow {
  color: #ffc107; 
}
.clean-link {
  text-decoration: none;     
  color: inherit;           
  cursor: pointer;          
  display: block;            
}

.clean-link:hover {
  opacity: 0.9;              
}
.highlight {
  color: limegreen;
  font-weight: bold;
  font-size: 28px;
}
.x {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  padding: 20px !important;
}
.custom-modal-bg {
  background-color: #1e1e2f;
  color: white;
}
.feature-card {
  display: block;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: #fff;
  height: 100%;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.icon-box {
  width: 60px;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.nav-link.bg-primary {
  font-weight: 600;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.6);
}
.card {
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.02);
}
.card-header {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}