.custom-yellow {
  color: #ffc107; 
}
.clean-link {
  text-decoration: none;     /* removes underline */
  color: inherit;            /* uses parent text color */
  cursor: pointer;           /* optional: feels like a button */
  display: block;            /* makes the whole block clickable */
}

.clean-link:hover {
  opacity: 0.9;              /* optional: subtle hover effect */
}
.highlight {
  color: limegreen;
  font-weight: bold;
  font-size: 28px;
}
.x {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  padding: 20px !important;
}
.custom-modal-bg {
  background-color: #1e1e2f;
  color: white;
}


